---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, date, refs, paper, lang } = Astro.props;
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .prose {
        max-width: 720px;
        margin: auto;
        color: var(--gray-dark);
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: var(--gray);
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="w-full px-2 lg:px-4">
      <article>
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={date} />
            </div>
            <h1 class="text-3xl md:text-5xl">{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
      {paper && (
        <hr class="my-4" />
        <div class="prose">
          {paper.published === true ? (
            paper.url ? (
              <>Publicerad i {paper.name}: <a href={paper.url} target="_blank">{paper.url}</a>.</>
            ) : (
              <>Publicerad i {paper.name}.</>
            )
          ) : paper.published === false ? (
            <>{paper.name} valde att <strong>inte</strong> publicera artikeln.</>
          ) : (
            <>Skickat till {paper.name}.</>
          )}
        </div>
      )}
      {
        refs && (
          <hr class="my-4" />
          <div class="prose">
            <h4 class="text-lg uppercase">Referenser</h4>
            <ul class="list-disc space-y-2">
              {refs.map((ref) => (
                <li class="text-sm">
                  <a href={ref} target="_blank">{ref}</a>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </main>
    <Footer />
  </body>
</html>
